<div class="form-group col-12">
  <label>Price</label>
  <input type="text" class="form-control">
</div>
<div class="form-group col-12">
  <label>Security</label>
  <input type="text" class="form-control">
</div>
<div class="form-group col-12">
  <label>Maintenance</label>
  <input type="text" class="form-control">
</div>
<div class="form-group col-12">
  <label>Built Area</label>
  <input type="text" class="form-control">
</div>
<div class="form-group col-12">
  <label>Carpet Area</label>
  <input type="text" class="form-control">
</div>
